<%- include("header") -%>
  <h1>About</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam delectus consequuntur error, esse ratione animi, tempora fuga quasi et nihil nemo corrupti dolores. Eum fugiat quasi adipisci fuga ad omnis, sint eaque beatae explicabo, perspiciatis quod blanditiis, esse similique inventore quos officiis necessitatibus error assumenda corporis nostrum officia quam ipsam pariatur. Necessitatibus facere alias velit pariatur molestiae magnam modi repudiandae cum nisi amet veniam quibusdam hic nihil in neque, architecto explicabo delectus vitae harum nostrum minus blanditiis? Molestias doloremque nihil sed perferendis dicta facere, alias voluptatibus necessitatibus, quam consectetur doloribus voluptate laborum tempore dolore non blanditiis ducimus quos mollitia nobis.</p>
<%- include("footer") -%>
