<%- include("partials/header") -%>
<h1>Compose</h1>
<form action="/compose" method="POST"><!-- ! Kapag nagloload ng matagal, check ang route kung same sa server-->
  <label for="input-title">Title</label><br>
  <input name="inputTitle" id="input-title" type="text"><br>
  <label for="input-post">Post</label><br>
  <textarea name="inputPost" id="input-post" cols="30" rows="10"></textarea><br>
  <button class="publish-button">Publish</button>
</form>
<%- include("partials/footer") -%>