<%- include("header") -%>
<h1>Contact</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores doloribus placeat nemo ex vero sint ab reprehenderit possimus autem libero, minus dolor voluptas iste laborum amet? Enim non recusandae dignissimos quo, quod porro ducimus cupiditate autem consequuntur hic beatae consequatur similique consectetur dicta. Illum non quisquam tempora esse! Perferendis, deleniti itaque sit eum officiis in quidem. Quo, rerum laboriosam accusamus aliquid porro officiis ad corrupti sed explicabo ullam. Architecto eligendi optio pariatur neque illum. Ratione vel quod asperiores illo minima harum consequatur esse fugit voluptates minus temporibus similique porro sit, ipsam natus libero ullam accusamus delectus ipsa deleniti iusto. Est!</p>
<%- include("footer") -%>

