<%- include("partials/header") -%>
<div>
  <div>
    <h2><%= title %></h2>
  </div>
  <div>
    <p class="input-post"><%= post %></p>
  </div>
</div>
<!-- <h1>Test</h1>
<div>Test</div>
<%- include("partials/footer") -%>